[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-wtf = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
