<!--我们首先引入模板，以后我可能会引入宏macro-->
{% extends 'base.html' %}

<!--替换标题-->
{% block title %}画廊{% endblock %}

<!--替换正文-->
{% block body %}

    <div style="margin-top: 100px"></div>
        <!--以下是图片展示-->
        <div class="container">
            <div class="row">
                {% for image in images  %}
                    <div class="col-md-4 ">
                        <img src="{{ url_for('static',filename='images/' + image.filename) }}" alt="{{image.filename}}" class="img-responsive img-rounded img-thumbnail">
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- 以下是上下页切换-->
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    {% if page > 1 %}
                        <a href="{{ url_for('gallery', page=page - 1) }}" style="text-decoration: none;" class="btn btn-success">上一页</a>
                    {% endif %}
                </div>

                <div class="col-md-4 text-center">
                    <span style="margin-top: 10px;">第 {{ page }} / {{ total_pages }} 页</span>
                </div>

                <div class="col-md-4 text-right">
                    {% if page < total_pages %}
                        <a href="{{ url_for('gallery', page=page + 1) }}" style="text-decoration: none;" class="btn btn-success">下一页</a>
                    {% endif %}
                </div>

            </div>
        </div>

{% endblock %}


